NEXT_PUBLIC_SUPABASE_URL=https://kmanvvmgrhhgaqaejaum.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttYW52dm1ncmhoZ2FxYWVqYXVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4NjM3ODUsImV4cCI6MjEwMzQzOTc4NX0.8LAPGWlq7kBDDIYEOpAJqktlYQ33xvS-Vmc1eeArJWk
